@import url(http://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(http://fonts.googleapis.com/css?family=Mystery+Quest);

body {
  background-color: #ebe4e2;
  color: #bf6574;
}

#content {
  margin: 0 auto;
  width: 360px;
}

#header {
  margin-bottom: 20px;
}

#title {
  font-family: 'Londrina Shadow', cursive;
  font-size: 100px;
}

#timer {
  font-family: 'Mystery Quest', cursive;
  font-size: 20px;
}

#controls {
  margin-bottom: 10px;
}

.row {
  clear: both;
}

.card {
  border: 1px solid #9C3F4F;
  float: left;
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
  height: 65px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  cursor: pointer;
}
/* apply with toggle class */
.hover {
  background-color: #bf6574;
  color: #ebe4e2;
}
/* apply when two cards match */
.found {
  background-color: #595139;
  color: #FFFFFF;
}

.won {
  background-color: #F2F0CE;
  border: 1px solid #83A603;
  color: #83A603;
}

.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 12.5px;
  padding: 10px 26px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn:hover, .btn:focus {
  background-color: #4e6d8d;
  color: white;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.btn:active, .btn.active {
  background-color: #2c3e50;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}